CLICON_CONVUNI_SOAP_JAVA_GR01/src/wsdl/localhost_8080/WS_CONVUNI_SOAP_JAVA_GR01/UnitConversionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/" name="UnitConversionService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/" schemaLocation="http://localhost:8080/WS_CONVUNI_SOAP_JAVA_GR01/UnitConversionService?xsd=1"/>
</xsd:schema>
</types>
<message name="healthCheck">
<part name="parameters" element="tns:healthCheck"/>
</message>
<message name="healthCheckResponse">
<part name="parameters" element="tns:healthCheckResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="convertTemperature">
<part name="parameters" element="tns:convertTemperature"/>
</message>
<message name="convertTemperatureResponse">
<part name="parameters" element="tns:convertTemperatureResponse"/>
</message>
<message name="convertMass">
<part name="parameters" element="tns:convertMass"/>
</message>
<message name="convertMassResponse">
<part name="parameters" element="tns:convertMassResponse"/>
</message>
<message name="convertLength">
<part name="parameters" element="tns:convertLength"/>
</message>
<message name="convertLengthResponse">
<part name="parameters" element="tns:convertLengthResponse"/>
</message>
<portType name="UnitConversionSoapWebService">
<operation name="healthCheck">
<input wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/healthCheckRequest" message="tns:healthCheck"/>
<output wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/healthCheckResponse" message="tns:healthCheckResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="convertTemperature">
<input wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/convertTemperatureRequest" message="tns:convertTemperature"/>
<output wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/convertTemperatureResponse" message="tns:convertTemperatureResponse"/>
</operation>
<operation name="convertMass">
<input wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/convertMassRequest" message="tns:convertMass"/>
<output wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/convertMassResponse" message="tns:convertMassResponse"/>
</operation>
<operation name="convertLength">
<input wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/convertLengthRequest" message="tns:convertLength"/>
<output wsam:Action="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/UnitConversionSoapWebService/convertLengthResponse" message="tns:convertLengthResponse"/>
</operation>
</portType>
<binding name="UnitConversionPortBinding" type="tns:UnitConversionSoapWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="healthCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertMass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UnitConversionService">
<port name="UnitConversionPort" binding="tns:UnitConversionPortBinding">
<soap:address location="http://localhost:8080/WS_CONVUNI_SOAP_JAVA_GR01/UnitConversionService"/>
</port>
</service>
</definitions>