CLICON_CONVUNI_SOAP_JAVA_GR01/src/wsdl/localhost_8080/WS_CONVUNI_SOAP_JAVA_GR01/UnitConversionService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><xs:schema xmlns:tns="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.ws_convuni_soap_java_gr01.mycompany.com/">

<xs:element name="conversionResult" type="tns:ConversionResultType"/>

<xs:element name="convertLength" type="tns:convertLength"/>

<xs:element name="convertLengthResponse" type="tns:convertLengthResponse"/>

<xs:element name="convertMass" type="tns:convertMass"/>

<xs:element name="convertMassResponse" type="tns:convertMassResponse"/>

<xs:element name="convertTemperature" type="tns:convertTemperature"/>

<xs:element name="convertTemperatureResponse" type="tns:convertTemperatureResponse"/>

<xs:element name="healthCheck" type="tns:healthCheck"/>

<xs:element name="healthCheckResponse" type="tns:healthCheckResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="loginResult" type="tns:LoginResultType"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:LoginResultType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResultType">
<xs:sequence>
<xs:element name="success" type="xs:boolean"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="healthCheck">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="healthCheckResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertMass">
<xs:sequence>
<xs:element name="value" type="xs:double"/>
<xs:element name="fromUnit" type="xs:string" minOccurs="0"/>
<xs:element name="toUnit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertMassResponse">
<xs:sequence>
<xs:element name="return" type="tns:ConversionResultType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConversionResultType">
<xs:sequence>
<xs:element name="success" type="xs:boolean"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="inputValue" type="xs:double"/>
<xs:element name="fromUnit" type="xs:string" minOccurs="0"/>
<xs:element name="toUnit" type="xs:string" minOccurs="0"/>
<xs:element name="convertedValue" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertLength">
<xs:sequence>
<xs:element name="value" type="xs:double"/>
<xs:element name="fromUnit" type="xs:string" minOccurs="0"/>
<xs:element name="toUnit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertLengthResponse">
<xs:sequence>
<xs:element name="return" type="tns:ConversionResultType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertTemperature">
<xs:sequence>
<xs:element name="value" type="xs:double"/>
<xs:element name="fromUnit" type="xs:string" minOccurs="0"/>
<xs:element name="toUnit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertTemperatureResponse">
<xs:sequence>
<xs:element name="return" type="tns:ConversionResultType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>